.nav{
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    padding: 3px;
    justify-content: space-around;
    letter-spacing: .9px;

    &__logo {
        margin-right: 5px;
    }

    &__items {
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    
    &__leftSide {
         display: flex;
    }

    &__rightSide {
        align-self: center;
    }

    &__donateButton {
        color: white;
        background-color: #013365;
        border-radius: 5px;
        border: none;
        margin-right: 15px;
        padding: 8px 12px;
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 30px;
            font-size: 19px;
            position: absolute;
            top: 50%;
            right: -19px;
            background-color: rgba(0,0,0,.1);
            transform: translateY(-50%);
        }
    }


    &__item, &__signIn {
        font-size: .75em;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 20px;

    }

    &__logo, &__items, &__signIn {
        list-style: none;
    }

}

