.donationForm {
    font-family: Proxima Nova, sans-serif;
    width:380px;
    overflow: hidden;

    &__toggleButtons {
        font-size: .9em;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        background-color: white;
        border-radius: 5px;
        border: .5px solid black;
        margin-bottom: 25px;
    }

    &__giveOnceToggle {
        border: .5px solid black;
        padding: 6px;
        border-radius: 5px 0 0 5px ;

         &--active {
            background-color: #FFC908;
        }
    }

    &__giveMonthlyToggle {
        border: .5px solid black;
        padding: 6px;
        border-radius: 0 5px 5px 0;
    }

    &__title {
        text-align: center;
        font-size: 1.1em;
        font-weight: 500;
        padding: 17px;
        border: 1px solid #cbccc8;
        border-radius: 5px 5px 0 0;
        background-color: #F4F5F0;
    }

    &__form {
        background-color: white;
        padding: 20px;
        border-bottom: 1px dashed #cbccc8;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        
    }

    &__amount{
        text-align: center;
        font-weight: 400;
        font-size: .9em;
        color: #9c9c9b;
        padding: 15px;
        border: 1px solid #cbccc8;
        border-radius: 5px;
        background-color: #e5e7de;

        span {
            font-size: .8em;
        }

        &--selected {
            background-color: #FFC908;
            color: black;
            border: none;
        }

        &:nth-child(5){
            grid-column: span 2;
        }
    }

    &__submit {
        grid-column: span 3;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1em;
        padding: 15px;
        background-color: #FFC908;
        color: black;
        border: none;
        border-radius: 5px;
    }

    &__promotion {
        display: flex;
        background-color: white;
        padding: 15px;
        border-radius: 0 0 5px 5px;
        border-bottom: 1px solid #cbccc8;
    }

    &__icon {
        width: 25%;
    }

    &__promoTitle {
        text-transform: uppercase;
        font-size: .9em;
        font-weight: 400;
        padding-bottom: 10px;

    }

    &__text {
        font-size: .85em;
    }
}